API

In [ ]:
#infos a scrap :
# • Name: The name of the restaurant.
# • Cuisine Type: Types of cuisine served (e.g., Italian, French, etc.).
# • Rating: The average user rating.
# • Opening Hours: Information about when the restaurant is open.
# • Location: The restaurant’s address or location details.
# • Average Price: The average cost of a meal.

In [7]:
!pip install requests

Requirement already satisfied: requests in c:\users\maël\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\maël\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\maël\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\maël\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\maël\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.7.22)

WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Maël\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Maël\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~atplotlib (c:\Users\Maël\AppData\Local\Programs\Python\Python311\Lib\site-packages)

In [34]:
import pandas as pd

In [52]:
loc=pd.read_csv('data_in_progress/restaurants_tripadvisor_paris.csv')
#on garde que location_id
loc=loc['location_id']
loc.head(5)

0    25940733
1     1116702
2      775346
3    15707789
4     8297103
Name: location_id, dtype: int64

In [53]:
latlong=pd.read_csv('random_points_paris.csv',sep=',')
latlong.head()

         lat      long
0  48.835741  2.294406
1  48.875937  2.382459
2  48.869037  2.350171
3  48.851839  2.359734
4  48.852459  2.279369

In [54]:
import requests

import tqdm

location_id=[]
for i in tqdm.tqdm(range(len(latlong))):
    lat = latlong['lat'][i]
    long = latlong['long'][i]
    url = f"https://api.content.tripadvisor.com/api/v1/location/nearby_search?latLong={lat}%2C{long}&category=restaurants&language=en&key=7B630BA76BDC40F2BA71E1FBDB93F526"
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)
    
    for i in response.json()['data']:
        location_id.append(i['location_id'])

100%|██████████| 200/200 [01:35<00:00,  2.08it/s]

In [55]:
print(location_id)

['17636607', '7682420', '12911007', '14895653', '6946218', '6856340', '25196628', '2563024', '28034388', '3389313', '12542749', '3619031', '8723793', '17840080', '23942096', '19997245', '4068654', '23881413', '3933272', '15012846', '17389083', '13374267', '23949307', '23127487', '24133554', '24133765', '13202382', '21380212', '26843310', '21345037', '5582194', '27901920', '783281', '26523446', '3436011', '8653135', '7809288', '21380211', '21167737', '26400958', '3347931', '2397841', '12658524', '17829218', '18904453', '21104307', '16746290', '786368', '1322113', '8377850', '1335814', '7130375', '13625754', '27095476', '22730871', '27842834', '27842889', '25080745', '1552207', '27375390', '12562326', '32788005', '7273105', '27356342', '24121560', '10339616', '17205859', '7202722', '27727186', '27304037', '28123337', '8774149', '2642068', '12439181', '27926533', '27266463', '5949410', '28016958', '844541', '1323224', '794837', '12492958', '2146860', '17424751', '27852390', '952073', '27222143', '7108851', '786474', '27342044', '27360459', '17649681', '23881553', '27851677', '27851227', '24998685', '28643442', '27314098', '7228989', '23861045', '1749192', '20057244', '14052364', '21289189', '8747229', '4355308', '27343644', '786024', '2622837', '3603679', '813042', '719930', '4794613', '27173694', '5262770', '27177557', '21794544', '27901629', '1057932', '7345847', '10798826', '5801207', '12687125', '27253790', '12794141', '23654803', '27353788', '13834941', '23742178', '19843050', '1336865', '2192483', '26454932', '27843992', '7133765', '8087838', '24851162', '7608916', '1323211', '1332472', '14095527', '10133628', '22821420', '15609994', '27317312', '3577024', '27270450', '19462628', '8511863', '2571155', '1853141', '1406097', '12362809', '24870353', '28014745', '27764460', '3968090', '2521146', '1071841', '7100995', '12453340', '28656235', '15755882', '1390879', '27199027', '1035704', '23585455', '1928987', '6974574', '20286434', '7694715', '23643666', '15127316', '28277339', '27318013', '19841591', '23423939', '26329116', '12145106', '11857149', '27361513', '15198819', '26432456', '7236210', '26103907', '15785617', '27357188', '27382890', '15531869', '27844440', '16750280', '23873353', '23543867', '4959566', '27248072', '5799217', '27707291', '14039202', '10355956', '11734261', '27834891', '10427666', '21209452', '1322275', '13497270', '695092', '27745638', '21275237', '784257', '5270706', '2338083', '7158954', '719123', '21380236', '13198135', '1024651', '28047494', '8841614', '2332954', '1946587', '21364996', '19097767', '25400681', '23879380', '27125990', '18328492', '10468275', '23711650', '1652090', '32774758', '13101881', '23757457', '5294191', '10784666', '13101819', '17650078', '11910585', '27855215', '11932031', '13226504', '26634103', '10678117', '27359772', '7816172', '15233612', '15246560', '2623219', '7382254', '27369002', '27350390', '14451042', '14460748', '24868777', '19122637', '2707486', '1007574', '3437040', '715090', '2289125', '11932535', '10798826', '5801207', '12687125', '27253790', '12794141', '23654803', '27353788', '13834941', '23742178', '19843050', '17706373', '11915713', '12511181', '11925478', '27378783', '6774984', '26825495', '13795138', '7229029', '7814751', '10047465', '7202662', '27864914', '1069240', '718702', '27218143', '785776', '5124800', '24995265', '8710311', '1015890', '21328008', '21177655', '1336518', '15670945', '25113308', '5850335', '8674785', '4834303', '5602437', '27361513', '15198819', '26432456', '7236210', '26103907', '15785617', '27357188', '27382890', '15531869', '27844440', '5808916', '27844716', '1903463', '3478563', '7811298', '27342481', '4973196', '25987257', '5556053', '1035583', '12658524', '17829218', '18904453', '21104307', '3347931', '2397841', '16746290', '786368', '1322113', '8377850', '23440698', '26572706', '31134992', '27160819', '4329371', '4104372', '27843302', '1065740', '718672', '2249269', '15347677', '27222870', '3538700', '11760446', '27855731', '7214015', '20804191', '12610335', '5957317', '27295596', '719429', '26634741', '5964576', '21238195', '17424534', '27210448', '3639089', '23748802', '5799949', '792910', '27673024', '12338154', '5894347', '27845142', '3482451', '2545068', '27359830', '10821402', '5608376', '1326615', '27306513', '21204463', '23277192', '5594192', '26262850', '7009216', '4887842', '8155324', '5501163', '23916156', '25328597', '25297464', '12871971', '10593417', '21113996', '3721618', '5608756', '27865926', '13122443', '27330982', '28648297', '15597186', '782423', '13818384', '11947725', '23552139', '27176765', '15667013', '5965472', '5562763', '11698332', '3207092', '938692', '24048778', '19730060', '26722516', '25372246', '1336899', '5808572', '1932236', '24924600', '15207574', '4414548', '719170', '2570750', '21272458', '4894374', '24960103', '27323391', '803843', '27197691', '5501166', '27326486', '21400193', '15297369', '26839162', '27705548', '27865332', '10159630', '1993143', '12326450', '5799884', '27201406', '10810533', '23404200', '19257684', '15017532', '27359023', '17835276', '27344854', '15707818', '15707357', '5778298', '11752112', '26516199', '12690809', '11932012', '26441561', '27904552', '5792289', '15535679', '27173698', '28015160', '4914394', '23709607', '27322868', '27852264', '23746167', '13498168', '32698540', '12362311', '6213357', '28016942', '5932452', '2042149', '27350693', '4430113', '17205879', '27852714', '15206322', '18917414', '13456613', '27306934', '8595347', '8019505', '12926433', '1819766', '16698965', '19787895', '8353423', '1137857', '19816638', '23219619', '17476349', '23013381', '19841553', '17836192', '4464103', '26827721', '21335438', '12958345', '808093', '10027353', '2719663', '695077', '27201702', '25186523', '3833286', '715053', '9735299', '27277686', '27844498', '1035575', '2417807', '27317139', '14059024', '30131054', '4996048', '715013', '20088481', '28123337', '8774149', '2642068', '12439181', '27926533', '27266463', '5949410', '28016958', '844541', '1323224', '24094123', '714922', '25287537', '20300558', '804515', '10474670', '27190938', '28643447', '2042247', '13153509', '3457844', '7794017', '27222656', '19092541', '14094787', '10818586', '25267772', '1009471', '10821446', '23643687', '23881413', '4068654', '19997245', '23942096', '17840080', '8723793', '12542749', '3619031', '23938358', '12438249', '1381784', '4467409', '25128586', '1336899', '1932236', '5808572', '26722516', '25372246', '3207092', '938692', '25467074', '10398164', '26845125', '786902', '21075934', '6001610', '11906514', '6975444', '27710930', '25102070', '1392663', '18936082', '2470814', '21254515', '3370944', '17708622', '3572924', '10149327', '25258898', '27992467', '27834496', '25251966', '27194449', '15289737', '21305512', '4761298', '7259921', '27834094', '27313953', '19097601', '26396928', '17456367', '27867320', '27357199', '8695085', '27169916', '14081762', '26658225', '9811164', '12562311', '14788152', '32829190', '27903524', '16948724', '6224289', '21298065', '23526620', '11705516', '15707916', '23403776', '11915712', '28023072', '23477045', '27337149', '27801667', '23636548', '27254530', '14095861', '27177556', '10726991', '27306267', '27280780', '27331054', '32731641', '14015488', '21071586', '4829638', '27347178', '1035568', '13970216', '26844665', '21254638', '13430442', '15617520', '27358771', '24141630', '27867400', '17418136', '21383990', '13202167', '3482451', '27845142', '5894347', '27673024', '12338154', '2545068', '27359830', '10821402', '5608376', '1326615', '1035322', '27860976', '24059790', '4598359', '27356320', '23742224', '27351796', '7236495', '8000203', '27252693', '25816841', '12716752', '801124', '10170008', '23428371', '26193161', '26364317', '10226391', '10547960', '816881', '5262205', '21074514', '8684513', '12341755', '25579641', '4722610', '8331731', '17741195', '15707198', '25223365', '4786908', '15666971', '2184298', '1533715', '27836150', '10310146', '802001', '25561758', '27302746', '7939772', '1326625', '10528886', '13977277', '2484363', '32859588', '27855667', '2692627', '11768537', '32853383', '32841050', '7282685', '27865919', '1190225', '3611107', '21204489', '27254500', '27279630', '27865651', '23591355', '7594484', '24998685', '28643442', '27360459', '27851677', '27851227', '23881553', '17649681', '27314098', '8802637', '11712478', '23737551', '23526558', '1536090', '27322799', '719211', '27223047', '3472007', '27285826', '27380210', '28148585', '23300627', '7220747', '23577565', '27305617', '4971558', '2048741', '16878886', '23625059', '13481891', '3309204', '14895935', '29185686', '7285042', '4037282', '15619277', '25724381', '24002794', '3681892', '695078', '7986134', '27266463', '5949410', '28123337', '12439181', '27926533', '2642068', '8774149', '27860170', '27252511', '4308920', '21316053', '27346896', '1334766', '14088808', '14183849', '12597823', '25756828', '14913223', '4582426', '26106146', '12192016', '1336280', '27424869', '719869', '1095940', '795241', '5981737', '719780', '906999', '3630401', '26262398', '15246472', '15141055', '12590147', '6154367', '25073705', '27525785', '10723808', '26860778', '27095484', '12080778', '14170773', '4435943', '25941569', '24986217', '27337520', '8774962', '14796708', '8325087', '28049604', '13202090', '27256581', '27304061', '9565421', '27303562', '27902887', '25208813', '27346177', '27350985', '5798081', '1504635', '12076815', '3571378', '8533491', '10096477', '23006804', '7322988', '695198', '15343325', '21512799', '23413327', '14203927', '23585543', '13133319', '27852195', '12698039', '21387567', '25430407', '15187747', '865170', '12430661', '815765', '27344437', '27272853', '4301135', '28600340', '14922198', '28149964', '20871156', '17818815', '27361441', '23838423', '12900025', '27305793', '11838532', '4271803', '10821055', '6950675', '17656864', '15670555', '1552207', '27375390', '27195066', '15707877', '6886259', '24035771', '15350296', '23880639', '25080745', '1335814', '11651335', '15635312', '695062', '1035620', '25315828', '21275758', '5969292', '15707643', '27365662', '2434895', '8015724', '850113', '804870', '1503737', '1015281', '7312244', '7097347', '25231289', '26251974', '7805964', '1806076', '3820891', '19841467', '695211', '8415471', '27674475', '16843634', '23880780', '833395', '15670829', '27350734', '23481186', '23516819', '719186', '26363798', '13875460', '15873231', '15317603', '4793941', '14139440', '7248203', '14178463', '32849289', '27324224', '5892064', '2059068', '720156', '9682171', '8435961', '7352977', '27361513', '15198819', '26432456', '7236210', '26103907', '15785617', '27357188', '27382890', '15531869', '27844440', '27847677', '5801085', '31469980', '27847166', '1330327', '25333436', '19097506', '7177829', '26258715', '695184', '31662602', '19438229', '23442224', '7594492', '19516434', '27344495', '5965016', '23500154', '21261623', '4975113', '3942826', '3739099', '25088808', '7284060', '11953078', '17277530', '8363937', '13367733', '27537695', '27343418', '718122', '27283232', '23514533', '21104805', '28195680', '27863052', '3749419', '23902121', '17566947', '13023696', '5582194', '27901920', '783281', '26523446', '3436011', '8653135', '7809288', '21380211', '21167737', '26400958', '27851376', '25171808', '27850926', '27177560', '5850350', '19341517', '4185793', '27351781', '9826837', '4817498', '8730808', '1874568', '8745166', '24189332', '23596093', '8483480', '25407527', '6385496', '27853740', '21272454', '7903500', '27902260', '32852409', '3347241', '6827879', '27711223', '13165255', '24027503', '1322581', '27888919', '4756026', '9785278', '14921599', '9814834', '3875005', '12913471', '15567802', '19955373', '23636248', '27314673', '14089784', '23973377', '815672', '15246563', '2614327', '32762908', '13167805', '3606577', '10443323', '699456', '1813733', '27420573', '9805139', '9569030', '12031569', '10469728', '25175261', '15577611', '6687120', '15020657', '14913911', '8261225', '8305019', '2283997', '17727441', '5292690', '27854680', '27855124', '14072860', '5893408', '27178218', '21133489', '27138453', '15284087', '21204960', '1126487', '10165888', '25174846', '12871178', '27851261', '27281243', '10514196', '17651211', '21204981', '5894060', '27860536', '27321856', '27167186', '16698716', '4174129', '17323412', '21140433', '27290132', '12388085', '23449235', '15707282', '16809369', '8722486', '5260023', '1953736', '2010332', '4458245', '1869695', '24140080', '5971846', '27314251', '1390891', '813472', '9608941', '5478128', '23636213', '7619481', '26630485', '20127121', '10820783', '4702779', '2718290', '21256481', '7595677', '8659293', '25350711', '12535614', '790507', '10025576', '23787856', '3264729', '17209863', '19934343', '27355782', '20074559', '17706256', '15518602', '27361549', '13963030', '15329672', '27254199', '4027194', '23481553', '11926231', '28013183', '5890433', '1035567', '27836084', '27359939', '27835454', '9836527', '12423389', '5865651', '9745239', '21269069', '27380059', '6850220', '8499392', '27265523', '23582275', '26106124', '19141648', '27324332', '27862003', '14765383', '6883142', '26839109', '7342884', '8470460', '3839670', '16698839', '7607945', '13397675', '6882071', '28152651', '11752112', '5778298', '15707818', '15707357', '26516199', '11932012', '12690809', '5792289', '20405963', '12956484', '4237251', '6885953', '1832198', '27843529', '3534765', '1035507', '23853072', '796471', '27121628', '25308154', '26450253', '15670505', '21362910', '13419167', '2632131', '27764779', '27903693', '27844432', '27383036', '19202379', '11651335', '15635312', '695062', '1035620', '25315828', '21275758', '27365662', '2434895', '15707643', '5969292', '15707782', '27902692', '10451892', '8297565', '25316762', '10534122', '27903165', '23629219', '27254812', '15668771', '7322815', '10508615', '28661843', '10427948', '27865948', '27246825', '27247584', '12603576', '25254023', '27362640', '1367780', '10524049', '15272711', '1219179', '27247463', '6636165', '780371', '25212942', '19407120', '27136241', '4793866', '1946076', '3869946', '27942350', '6437711', '4555410', '23839731', '8799558', '14236418', '27860766', '21340250', '15244606', '6959260', '14792235', '7610861', '13367499', '15707428', '4340258', '3963363', '21328042', '5949410', '27266463', '28123337', '12439181', '27926533', '2642068', '8774149', '28016958', '844541', '1323224', '13987113', '23742255', '27515394', '929003', '946810', '11673606', '9554502', '1591370', '4754402', '718763', '27867061', '5607448', '5615803', '3685999', '8660058', '27382930', '13143781', '27257914', '13814667', '27257683', '8707583', '15672221', '15707859', '10392940', '21380163', '12690853', '25257097', '25331544', '5800594', '15707191', '27330969', '27330890', '12598688', '21362473', '1035547', '27382926', '23889478', '15655895', '15707203', '23741385', '8817842', '23534562', '27859943', '13165232', '26855273', '27797997', '7975411', '13826562', '27100111', '27306676', '27796636', '27794150', '17706134', '14765210', '5787733', '809100', '10280818', '27356431', '27339751', '1336358', '27904552', '26441561', '5792289', '20405963', '12956484', '11932012', '12690809', '26516199', '11752112', '5778298', '27357033', '15873270', '19860214', '2520538', '17661312', '27483287', '19381137', '952307', '27257945', '16847259', '14411742', '32724447', '714974', '27854839', '10192577', '8439753', '5482502', '23998342', '23516704', '719454', '5965294', '27220174', '27219918', '7908484', '28072234', '16769887', '9730204', '27365209', '7607994', '878555', '17465565', '2161592', '27359130', '1035558', '7100995', '19127507', '27205173', '1074023', '4794701', '1853141', '23585463', '26176286', '26497204', '27131984', '27863531', '4996358', '27184626', '23330334', '23105282', '21326459', '27350792', '12802693', '718701', '9829800', '7284685', '11930671', '27855566', '1065741', '810086', '27709084', '719586', '27289887', '3523643', '15143298', '27854366', '27218367', '27518923', '778352', '23838857', '1458089', '3649377', '5798397', '15707374', '27369187', '23828371', '7177191', '26361742', '16672901', '8297494', '719434', '17649425', '3388680', '23984157', '27359975', '30449183', '25446333', '1905694', '27900954', '1580042', '26520044', '14133929', '13519336', '27194959', '3534761', '2047615', '4520570', '27337497', '17332005', '12347528', '7214385', '28025170', '23903727', '27336971', '10028345', '949356', '20095286', '24095785', '7696611', '27866834', '26812430', '15052639', '19097601', '27313953', '2437474', '27261503', '27317501', '27350536', '27855306', '15289737', '27194449', '12280354', '12598441', '2170739', '7284323', '907769', '27718128', '17676197', '14122957', '4225479', '23880059', '12995013', '1977875', '28104779', '8263567', '719432', '8466593', '25440044', '23696937', '27252693', '8000203', '27358821', '27231118', '4740384', '12431442', '18926667', '27301631', '14802892', '714981', '19000570', '719553', '1498676', '27098760', '2214200', '28144144', '27355376', '27849181', '7249290', '3736879', '22821413', '4331622', '28148585', '27380210', '27285826', '1876592', '27379531', '13864007', '27317616', '2514423', '15834244', '3472007', '26220299', '7799874', '13103280', '17384483', '15065673', '27834324', '1165395', '3590578', '13152820', '3679440', '27257846', '27337584', '27192314', '10165783', '13291040', '25550603', '10376990', '15321215', '27860611', '4341145', '8057568', '17462081', '719110', '9747223', '19652439', '17433039', '6414869', '13834656', '796880', '17424571', '10798826', '5801207', '12687125', '27253790', '12794141', '23654803', '27353788', '13834941', '23742178', '19843050', '2702948', '21380195', '16852952', '8719977', '27324260', '11815024', '12714573', '6024248', '15707812', '8511801', '25149583', '13430994', '11767790', '19067246', '23474188', '23982709', '5039196', '8027293', '23585114', '21327956', '15707200', '8019610', '8394051', '3679510', '12323125', '12130128', '15707767', '858327', '8490471', '25567610', '23996249', '7368460', '3619579', '7810346', '803025', '11857995', '23610315', '3364486', '4943053', '5798276', '17664102', '28030050', '10307765', '28126002', '27252056', '25308830', '27252186', '15011185', '20056919', '13005530', '13970213', '17339043', '782425', '788253', '12320092', '27854511', '17480392', '2346668', '27525458', '13173550', '7230463', '4409941', '13818445', '23588354', '4424429', '2493025', '11857149', '4491884', '1336737', '28006840', '13422215', '12001821', '3781339', '12438147', '23742232', '951879', '19283768', '10535149', '27868137', '27242614', '1367780', '10524049', '15272711', '1219179', '27247463', '6636165', '780371', '25212942', '19407120', '27136241', '14407050', '28128870', '5924129', '25413187', '27977023', '23887189', '12170894', '23850707', '4266733', '6429658', '27212435', '19395363', '8707578', '7971969', '8297503', '27855626', '718159', '952072', '6509800', '26711788', '10115118', '8707580', '27177561', '15105205', '27369606', '8723086', '10063228', '27455823', '1096569', '27854644', '27323700', '3595063', '799446', '27864365', '26823795', '3707211', '26728692', '17209888', '719215', '4811977', '12447935', '26687711', '27266146', '27257535', '12124467', '27696632', '28116766', '27860730', '27356397', '28161072', '27904552', '26441561', '12956484', '5792289', '20405963', '11932012', '12690809', '26516199', '11752112', '5778298', '27904552', '26441561', '5792289', '20405963', '12956484', '11752112', '5778298', '15707818', '15707357', '26516199', '786490', '12845068', '1337573', '27172099', '5256816', '7983150', '718043', '2223278', '5801370', '10821290', '27912146', '19122276', '3524446', '4428519', '1078172', '32849296', '14082799', '2494431', '17227776', '27193995', '27360710', '718624', '3681873', '9566635', '27269511', '23646272', '27271539', '13833777', '3667706', '4327768', '7983089', '2075404', '13478763', '27184633', '19513214', '19526563', '27356018', '8470903', '12322365', '27375355', '16852952', '8719977', '2702948', '21380195', '15707812', 

In [56]:
print(len(location_id))

2000

In [57]:
#on supprime les doublons
location_id = list(set(location_id))
print(len(location_id))

1788

In [59]:

#si il y a des elements de loc dans location_id on les supprime
location_id2=location_id

for i in loc:
    if i in location_id2:
        location_id2.remove(i)

print(len(location_id2))

1788

In [ ]:
#on a pas de doublons on ne supprime rien

In [60]:
#on recupere ce qu'on a besoin
# Initialiser une liste pour stocker les données
data_list = []
for i in tqdm.tqdm(range(len(location_id))):  # Parcourir les IDs des restaurants
    url = f"https://api.content.tripadvisor.com/api/v1/location/{location_id[i]}/details?language=fr&currency=EUR&key=7B630BA76BDC40F2BA71E1FBDB93F526"
    headers = {"accept": "application/json"}
    response = requests.get(url, headers=headers)

    # Vérifier si la requête est réussie
    if response.status_code == 200:
        response_json = response.json()
        
        # Extraire les informations nécessaires
        data = {
            "location_id": response_json.get("location_id"),
            "name": response_json.get("name"),
            "description": response_json.get("description"),
            "adress_string": response_json.get("address_obj", {}).get("address_string"),
            "price_level": response_json.get("price_level"),
            "rating": response_json.get("rating"),
            "num_reviews": response_json.get("num_reviews"),
            "review_rating_count": response_json.get("review_rating_count"),
            "cuisine": ", ".join([c["localized_name"] for c in response_json.get("cuisine", [])]),
        }
        
        # Ajouter les données à la liste
        data_list.append(data)
    
    else:
        print(f"Erreur pour l'ID {location_id[i]} : {response.status_code}")
        continue  # Passer au suivant si erreur

# Créer un DataFrame avec les données collectées
df = pd.DataFrame(data_list)

# Afficher le DataFrame
print(df)

# (Optionnel) Enregistrer le DataFrame dans un fichier CSV
df.to_csv("data_in_progress/restaurants_tripadvisor_paris_2.csv", index=False, encoding="utf-8")

 25%|██▍       | 443/1788 [06:02<16:25,  1.36it/s]

Erreur pour l'ID 3721618 : 429

100%|██████████| 1788/1788 [18:06<00:00,  1.65it/s]

     location_id                            name  \
0       27843529                 Schwartz's Deli
1        9735299                           Plume
2       27121628         Brunch Bande De Cheffes
3       26364317                  The Englishman
4       10547960                       Lavomatic
...          ...                             ...
1782    25102070            Restaurant Tt Nature
1783    10192577     Le Monde Du Macaron Paris 5
1784      792910                    le 20ème Art
1785      718701  Restaurant La Mosquée de Paris
1786      799446           Starbucks Victor Hugo

                                            description  \
0                                                  None
1                                                  None
2     Traiteur solidaire pour évènements d'entrepris...
3     À la recherche d’une soirée intime, à l’abri d...
4                                                  None
...                                                 ...
1782                                               None
1783  Le Monde Du Macaron, un fabricant de douceurs ...
1784  Dans le 20ème, à l'angle de la rue des Vignole...
1785                                               None
1786  Venez vivre l'expérience Starbucks à PARIS. Dé...

                                          adress_string price_level rating  \
0                  7 Avenue D'eylau, 75116 Paris France        None    4.0
1              24 Rue Pierre Leroux, 75007 Paris France    €€ - €€€    4.0
2     Place du Trocadéro Dans Le Théâtre De Chaillot...    €€ - €€€    5.0
3             38 Rue René Boulanger, 75010 Paris France        None    5.0
4             30 Rue Rene Boulanger, 75010 Paris France    €€ - €€€    3.5
...                                                 ...         ...    ...
1782  Avenue Gambetta 64 Avenue Gambetta, 75020 Pari...        None   None
1783             106 Rue Mouffetard, 75005 Paris France    €€ - €€€    4.5
1784            46 Rue Des Vignoles, 75020 Paris France    €€ - €€€    3.5
1785  39 Rue Geoffroy Saint Hilaire, 75005 Paris France    €€ - €€€    3.5
1786         90, avenue Victor Hugo, 75016 Paris France    €€ - €€€    3.5

     num_reviews                                review_rating_count  \
0              1  {'1': '0', '2': '0', '3': '0', '4': '1', '5': ...
1            160  {'1': '7', '2': '5', '3': '25', '4': '41', '5'...
2             28  {'1': '1', '2': '0', '3': '0', '4': '3', '5': ...
3              3  {'1': '0', '2': '0', '3': '0', '4': '0', '5': ...
4            183  {'1': '23', '2': '9', '3': '25', '4': '65', '5...
...          ...                                                ...
1782           0                                               None
1783           9  {'1': '0', '2': '2', '3': '0', '4': '0', '5': ...
1784         168  {'1': '19', '2': '23', '3': '20', '4': '64', '...
1785         999  {'1': '139', '2': '133', '3': '187', '4': '347...
1786         203  {'1': '21', '2': '14', '3': '36', '4': '80', '...

                                                cuisine
0                                            Américaine
1                                 Française, Européenne
2      Africaine, Internationale, Moyen-Orient, Afghane
3     Italienne, Bar, Pub, Bar à vins, Bars-restaurants
4
...                                                 ...
1782       Barbecue/Grillades, Turque, Bars-restaurants
1783                                          Française
1784                              Française, Européenne
1785                        Africaine, Arabe, Marocaine
1786                                               Café

[1787 rows x 9 columns]

In [63]:
#on ouvre le fichier csv
df_resto2 = pd.read_csv("data_in_progress/restaurants_tripadvisor_paris_2.csv")
df_resto = pd.read_csv("data_in_progress/restaurants_tripadvisor_paris.csv")

In [64]:
#on concatene les deux dataframes
df_resto = pd.concat([df_resto, df_resto2], ignore_index=True)

In [65]:
#on creer un fichier csv restaurants_tripadvisor_paris_final.csv
df_resto.to_csv("restaurants_tripadvisor_paris_final.csv", index=False, encoding="utf-8")

In [66]:
#on affiche la longueur du dataframe
print(len(df_resto))

2159